.PostForm {
    margin: 10px 0;
}

input {
    margin-right: 16px;
    padding: 10px;
}

.post {
    padding: 10px;
}

.error {
    height: 25px;
    padding-left: 10px;
    font-weight: bold;
    color: red;
}